<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>316570345706-2is3c35fcb51u6ggei9ef02ruvguuc8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316570345706-2is3c35fcb51u6ggei9ef02ruvguuc8e</string>
	<key>API_KEY</key>
	<string>AIzaSyA9fRcJgpBhVAKbtp0DZAr85GDh2RESKhw</string>
	<key>GCM_SENDER_ID</key>
	<string>316570345706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kibar.devnet</string>
	<key>PROJECT_ID</key>
	<string>devnet-b36e5</string>
	<key>STORAGE_BUCKET</key>
	<string>devnet-b36e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316570345706:ios:d3ba18254fd3daa1</string>
	<key>DATABASE_URL</key>
	<string>https://devnet-b36e5.firebaseio.com</string>
</dict>
</plist>